.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
html,
body {
  font-size: 12px;
  margin: 50px 0 0 50px;
  padding: 0;
  line-height: 1.5rem;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
